<!-- ============ FOOTER ============ -->
<footer class="ftr">
  <div class="wrap">
    <div class="ftr-in">
      <div>
        <span class="logo logo--stack logo--cream"><svg><use href="#lg-luckygolf"/></svg></span>
        <p class="tag">Clubs that perform at the level of the big brands, at prices set by people who chose not to pass the markup along.</p>
      </div>
      <div>
        <h3>Clubs</h3>
        <ul>
          <li><a href="{{link:p/lgw01-gold}}">Carver 01 Gold</a></li>
          <li><a href="{{link:p/lgw01-black}}">Carver 01 Black</a></li>
          <li><a href="{{link:p/lgp01-gold}}">Tracer LGP01 Blade</a></li>
          <li><a href="{{link:p/lgp02-gold}}">Tracer LGP02 Mallet</a></li>
          <li><a href="{{link:p/lgh01}}">Stryker LGH01</a></li>
        </ul>
      </div>
      <div>
        <h3>Apparel</h3>
        <ul>
          <li><a href="{{link:c/polos}}">The Classic Polo</a></li>
          <li><a href="{{link:c/polos}}">The Blade Polo</a></li>
          <li><a href="{{link:c/hats}}">Hats</a></li>
        </ul>
      </div>
      <div>
        <h3>Company</h3>
        <ul>
          <li><a href="{{link:story}}">Our Story</a></li>
          <li><a href="{{link:trybe}}">Ambassador Program</a></li>
        </ul>
      </div>
      <div>
        <h3>Support</h3>
        <ul>
          <li><a href="{{link:returns}}">Returns &amp; 60-day policy</a></li>
          <li><a href="{{link:shipping}}">Shipping</a></li>
          <li><a href="{{link:contact}}">Contact</a></li>
          <li><a href="{{link:faq}}">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div class="ftr-btm">
      <span class="mono">© 2026 Lucky Golf</span>
      <span class="mono">It's better to be lucky.</span>
    </div>
  </div>
</footer>
