<!-- ============ FOOTER ============ -->
<footer class="ftr">
  <div class="wrap">
    <div class="ftr-in">
      <div>
        <span class="logo logo--stack logo--cream"><svg><use href="#lg-luckygolf"/></svg></span>
        <p class="tag">Clubs that perform at the level of the big brands, at prices set by people who chose not to pass the markup along.</p>
      </div>
      <div>
        <h3>Clubs</h3>
        <ul>
          <li><a href="#">LGW01 Carver</a></li>
          <li><a href="#">LGW02 Carver Gold</a></li>
          <li><a href="#">LGW02 Carver Black</a></li>
          <li><a href="#">LGP01 Tracer Blade</a></li>
          <li><a href="#">LGP02 Tracer Mallet</a></li>
          <li><a href="#">LGH01 Stryker</a></li>
        </ul>
      </div>
      <div>
        <h3>Apparel</h3>
        <ul>
          <li><a href="#">The Classic Polo</a></li>
          <li><a href="#">The Blade Polo</a></li>
          <li><a href="#">Hats</a></li>
        </ul>
      </div>
      <div>
        <h3>Company</h3>
        <ul>
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Trybe</a></li>
          <li><a href="#">Ambassadors</a></li>
        </ul>
      </div>
      <div>
        <h3>Support</h3>
        <ul>
          <li><a href="#">Returns &amp; 60-day policy</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div class="ftr-btm">
      <span class="mono">© 2026 Lucky Golf</span>
      <span class="mono">It's better to be lucky.</span>
    </div>
  </div>
</footer>
